# Xcode
DerivedData/
build/
*.xcuserstate
xcuserdata/

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods / Carthage
Pods/
Carthage/Build/

# macOS
.DS_Store

# Archives and logs
*.xcarchive
*.log
